extends ../layout

block content
  .page-header
    h3 Sign up
  form.form-horizontal(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='first_name') First Name
      .col-sm-7
        input.form-control(type='text', name='first_name', id='first_name', placeholder='Thorben', autofocus)
    .form-group
      label.col-sm-3.control-label(for='last_name') Last Name
      .col-sm-7
        input.form-control(type='text', name='last_name', id='last_name', placeholder='Stieler', autofocus)
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
    .form-group
      label.col-sm-3.control-label(for='status') Are you a refugee? (refugees will be matched with natives and vice versa)
      .col-sm-7
        label.radio.col-sm-4
          input(type='radio', name='status', value='refugee', data-toggle='radio')
          span Yes
        label.radio.col-sm-4
          input(type='radio', name='status', value='native', data-toggle='radio')
          span No
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
