footer
  .container.text-center
    p.pull-left © 2016 Bazaar.
    a.pull-left(href="/privacy") &nbsp;Privacy Policy
    ul.pull-right.list-inline
      li
        a(href='https://github.com/shareonbazaar/bazaar') See the code on GitHub
