.navbar.navbar-default.navbar-fixed-top
  a.navbar-brand(href='/')
    img(width=20 src='/images/logo.png')
    span.brand-title Bazaar
  button.navbar-toggle(id='menu-toggle' type='button')
    span.sr-only Toggle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  select.search-box(multiple="multiple", style="width: 60%;")
