.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    a.navbar-brand(href='/')
      i.fa.fa-cube
      | Bazaar
    input.search-box(placeholder="Search for skills...")
    span.glyphicon.glyphicon-search.white
    button.navbar-toggle(id='menu-toggle' type='button')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
