#requestModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="requestModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &#215;
        h4#requestModalLabel.modal-title
      .modal-body
        form.profile-request-form
          #request-recipient(style="display:none;" recipient)
          .form-group
            select#skill-select
          .form-group
            label.control-label(for="amount") Amount:
            input#request-amount.form-control(type="number")
      .modal-footer
        button.btn.btn-default(type="button", data-dismiss="modal") Close
        button.btn.btn-primary#submit-skill-request(type="button") Request
