#requestModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="requestModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &#215;
        h4#requestModalLabel.modal-title
      .modal-body
        .container-fluid
          .row
            .col-xs-4.service-type(name=RequestType.LEARN) Receive
            .col-xs-4.service-type(name=RequestType.SHARE) Give
            .col-xs-4.service-type(name=RequestType.EXCHANGE) Exchange
        form.profile-request-form
          #request-recipient(style="display:none;" recipient)
          .form-group
            label.control-label(for="skill") Request one skill:
            .skill-select.unique
          .form-group
            label.control-label(for="message-text") Message:
            textarea#message-text.form-control
      .modal-footer
        button.btn.btn-primary#submit-skill-request(type="button") Request
