// Sidebar
#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand
      a(href='#')
        | Bazaar
    li
      a(href='/') Home
    if user
      li
        a(href='/transactions') Wallet
      li
        a(href='/profile/#{user.id}') Profile
    li
      a(href='/contact') Contact
    li
      a(href='/about') About
link(rel='stylesheet', href='/css/sidebar.css')
