// Sidebar
#sidebar-wrapper
  ul.sidebar-nav
    li.sidebar-brand
      a(href='#')
        | Bazaar
    li
      a(href='#') Home
    li
      a(href='/transactions') Wallet
    li
      a(href='#') Profile
    li
      a(href='#') Coins
    li
      a(href='#') Contact
    li
      a(href='#') About
    li
      a(href='#') Settings
link(rel='stylesheet', href='/css/sidebar.css')
