#sidebar-wrapper
  ul.sidebar-nav
    if user
      li
        a(href='/transactions')
          img(src='/images/chat.png')
          | Wallet
      li
        a(href='/profile/#{user.id}')
          img(src='/images/profile.png')
          | Profile
      li
        a(href='/bookmarks')
          img(src='/images/bookmark_icon.png')
          | Bookmarks
      li
        a(href='/account')
          img(src='/images/settings.png')
          | Settings
    li
      a(href='/contact')
        img(src='/images/help.png')
        | Contact
    li
      a(href='/about')
        img(src='/images/info.png')
        | About
    if user
      li
        a(href='/logout')
          img(src='/images/logout.png')
          | Logout
