img.block-images(width="100%" src="/images/computer.jpg")


h1.welcome Hallo, Salam, Hello, Bonjour, Marhaba, Olá

.info
  h4 Bazaar is a place for empowerment
  p We believe, locals and refugees should share their skills and learn from each other. Help should not just go one-way.

.info
  h4 What skills can you share here? 
  p People offer cool things from leisure time activities to professional competences. Our aim is to provide as much options as possible. Currently we have about thirty skills to choose from. 

img.block-images(src="/images/skills.png")

link(rel='stylesheet', href='/css/newabout.css')

.info
  h4 Our vision
  p Let‘s create a network where everyone can offer what he is good in. We see huge potential in all the people coming to new countries at the moment. Bazaar wants to enable them and provide a tool to participate in their new society.

img.block-images(src="/images/network.png")

.info
  h4 How is that going to work?
  p We use time banking to make skills exchange fair and flexible. Here is an example:
  ol
    li Mustafa helps Maria fixing her bike, which takes one hour.
    li Therefore, Maria pays Mustafa one Time-Coin.
    li With this Time-Coin, Mustafa can receive one hour of German lessons from Luigi, who is a cook.
    li That way, they not only exchange skills but learn about their backgrounds and cultural values. 

img.block-images(src="/images/timebanking.png")

.icon
  img(src="/images/handshake.png")
  p Sounds good? Let‘s get started! It‘s super easy.

.icon
  img(src="/images/get_in_touch.png")
  p Say hi! Leave us a message if you want to comment, participate, or if you have questions. 

.icon
  img(src="/images/donate.png")
  p Send us a coffee Currently Bazaar is running on our private expenses 

h3.hey Hey this is us

img.block-images(src="/images/team.png")
