doctype html
//
  Alpha by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Bazaar
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/splash.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
  body.landing
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='/') Bazaar
        nav#nav
          ul
            li
              a(href='/login') Login
            li
              a.button(href='/signup') Sign Up
      // Banner
      section#banner
        h2 Welcome to the Bazaar
        p A site to bring together refugees and locals over shared skills and interests
        ul.actions
          li
            a.button.special(href='/signup') Sign Up
          li
            a.button(href='/about') Learn More
      // Main
      section#main.container
        section.box.special
          header.major
            h2
              | Introducing a way for refugees and locals to come together
              br
              |                             and learn from each other
            p
              | Make a profile where you list your skills and interests.
              br
              |                             Browse through profiles or use the filter box to search for specific skills you might need. Meet up in real life and share!
          span.image.featured
            img(src='/images/pic01.jpg', alt='')
        section.box.special.features
          .features-row
            section
              span.icon.major.fa-bank.accent2
              h3 Time Banking
              p
                | For one hour of work you receive one Time-Coin from the person you worked for. You can exchange that coin for an hour of service from another person whose skills you need.
            section
              span.icon.major.fa-paint-brush.accent3
              h3 Share Your Talent
              p
                | A skill can be anything from knowing German to knowing how to fix road bikes. Everyone has something to share and everyone can benefit from other people's talents.
          .features-row
            section
              span.icon.major.fa-bolt.accent4
              h3 Empowerment
              p
                | Integration through active participation in society. The best way for people to come together is by working together.
            section
              span.icon.major.fa-users.accent5
              h3 Meetup
              p
                |  By sharing their skills native germans and refugees might become friends, pick up the other person’s language, or learn about each other's culture. See it as a social service; see it as your way to contribute to a better society.

      // CTA
      section#cta
        a.button(style="margin-bottom: 20px;" href="/signup") Sign up now
        p At the moment our service is in beta. Please give us as much feedback as possible. We are always looking to improve.
      // Footer
      footer#footer
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-github(href='#')
              span.label Github
          li
            a.icon.fa-google-plus(href='#')
              span.label Google+
        ul.copyright
          li © Bazaar. All rights reserved.
          li
            | Design: 
            a(href='http://html5up.net') HTML5 UP
    // Scripts
    != js('application')

    script(src='/js/lib/jquery.dropotron.min.js')
    script(src='/js/lib/jquery.scrollgress.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/util.js')
    script(src='/js/splash.js')

