doctype html
//
  Alpha by HTML5 UP
  html5up.net | @n33co
  Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html
  head
    title Bazaar
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/splash.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css')
  body.landing
    #page-wrapper
      // Header
      header#header.alt
        h1
          a(href='/') Bazaar
        nav#nav
          ul
            li
              a(href='/login') Login
            li
              a.button(href='#') Sign Up
      // Banner
      section#banner
        h2 Welcome to the Bazaar
        p A site to bring together refugees and locals over shared skills and interests
        ul.actions
          li
            a.button.special(href='#') Sign Up
          li
            a.button(href='#') Learn More
      // Main
      section#main.container
        section.box.special
          header.major
            h2
              | Introducing a way for refugees and locals to come together
              br
              |                             and learn from each other
            p
              | Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc ornare
              br
              |                             adipiscing nunc adipiscing. Condimentum turpis massa.
          span.image.featured
            img(src='/images/pic01.jpg', alt='')
        section.box.special.features
          .features-row
            section
              span.icon.major.fa-bolt.accent2
              h3 Magna etiam
              p
                | Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
            section
              span.icon.major.fa-area-chart.accent3
              h3 Ipsum dolor
              p
                | Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
          .features-row
            section
              span.icon.major.fa-cloud.accent4
              h3 Sed feugiat
              p
                | Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
            section
              span.icon.major.fa-lock.accent5
              h3 Enim phasellus
              p
                | Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
        .row
          .6u(class='12u(narrower)')
            section.box.special
              span.image.featured
                img(src='/images/pic02.jpg', alt='')
              h3 Sed lorem adipiscing
              p
                | Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
              ul.actions
                li
                  a.button.alt(href='#') Learn More
          .6u(class='12u(narrower)')
            section.box.special
              span.image.featured
                img(src='/images/pic03.jpg', alt='')
              h3 Accumsan integer
              p
                | Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.
              ul.actions
                li
                  a.button.alt(href='#') Learn More
      // CTA
      section#cta
        h2 Sign up for beta access
        p Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.
        form
          .row.uniform(class='50%')
            .8u(class='12u(mobilep)')
              input#email(type='email', name='email', placeholder='Email Address')
            .4u(class='12u(mobilep)')
              input.fit(type='submit', value='Sign Up')
      // Footer
      footer#footer
        ul.icons
          li
            a.icon.fa-twitter(href='#')
              span.label Twitter
          li
            a.icon.fa-facebook(href='#')
              span.label Facebook
          li
            a.icon.fa-instagram(href='#')
              span.label Instagram
          li
            a.icon.fa-github(href='#')
              span.label Github
          li
            a.icon.fa-dribbble(href='#')
              span.label Dribbble
          li
            a.icon.fa-google-plus(href='#')
              span.label Google+
        ul.copyright
          li © Bazaar. All rights reserved.
          li
            | Design: 
            a(href='http://html5up.net') HTML5 UP
    // Scripts
    != js('application')

    script(src='/js/lib/jquery.dropotron.min.js')
    script(src='/js/lib/jquery.scrollgress.min.js')
    script(src='/js/skel.min.js')
    script(src='/js/util.js')
    script(src='/js/splash.js')

