commands:
  create_enact_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/enact"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/enact/node_sass_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      node /var/app/current/node_modules/node-sass-middleware/node_modules/node-sass/scripts/install.js
