extends ../layout

mixin showTransactions(t_list)
  table.transaction-table
    thead
      tr
        th Service
        th Partner
        th Status
        th Action
    tbody
      each t in t_list
        tr
          td= t.service_label
          td= t._sender.profile.name
          td= t.status
          td Click

block content
  include ../partials/acceptModal
  input#csrf_token(type='hidden', name='_csrf', value=_csrf)
  
  .transaction-page
    .row.options
      .col-xs-4.exchange-type.selected Proposed
      .col-xs-4.exchange-type Upcoming
      .col-xs-4.exchange-type Complete


    mixin showTransactions (transactions.proposed)
    mixin showTransactions (transactions.upcoming)
    mixin showTransactions (transactions.complete)

  script(src='/js/transaction.js')